<section class="dashboard-show">

<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>

  
  <div class="dashboard">
    <h3>Products remaining: </h3>
    <div class="count"><%= @product %></div>
  </div>

  <div class="dashboard">
    <h3>Categories count: </h3>
    <div class="count"><%= @category %></div>
  </div>

</section>